// font size
$veryhude: 58px;
$huge: 42px;
$extralarge: 36px;
$big: 28px;
$regular: 24px;
$medium: 22px;
$small: 20px;
$extrasmall: 18px;
$verysmal: 16px;
$tiny: 14px;

$line-height: 140%;

// colors
$primary: #474551;
$secondary: #099DBA;
$dark_blue: #046DBF;
$blue: #33D9DA;
$turquoise: #BDF8F9;
$light: #F3FEFE;
$white: #FFFFFF;



// different
$borderRadius: 30px;
$boxShadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
$transition: all 0.2s ease;
$border: 2px solid #099DBA;
$backgroundBtn: rgba(255, 255, 255, 0.6); 
