@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

body {
  background: $primary;
}

.image-bg {
  width: 500px;
  height: 500px;
  background: url("../img/2.jpeg") no-repeat;
  background-size: cover;
  @include respond-to(sm) {
    width: 100px;
    height: 100px;
  }
}