@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";


body {
  background: white;
  max-width: 100%;
  font-family: "gilroy", sans-serif;
  font-weight: 400;
  font-size: $extrasmall;
  color: $primary;
}

.wrapper {
  margin: 0 auto;
  max-width: 1290px;

  @include respond-to(lg) {
    padding: 0 20px;
  }
}

h1 {
  font-weight: 700;
  font-size: $veryhude;
  color: $primary;

  @include respond-to(lg) {
    font-size: $extralarge;
  }

  @include respond-to(md) {
    font-size: 32px;
  }

  @include respond-to(sm) {
    font-size: $small;
  }
}

h2 {
  font-weight: 500;
  font-size: $huge;
  color: $primary;

  @include respond-to(lg) {
    font-size: $extralarge;
  }

  @include respond-to(sm) {
    font-size: $small;
  }
}

h3 {
  font-weight: 600;
  font-size: $big;
  color: $secondary;

  @include respond-to(sm) {
    font-size: $small;
  }
}

h4 {
  font: $extrasmall;
  line-height: 22px;
  font-weight: 500;
  color: $secondary;
}

p {
  line-height: $line-height;
}

button,
.btn {
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  transition: $transition;
  border: $border;
  font-weight: 600;
  line-height: 25px;
  font-size: $small;
  width: 181.77px;
  height: 40.39px;
  color: $secondary;
  background-color: $backgroundBtn;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: $big;
  font-weight: 600;
  color: $secondary;
  margin: 30px auto 0;
  max-width: 1066px;

  @include respond-to(lg) {
    font-size: $regular;
  }

  @include respond-to(sm) {
    font-size: $verysmal;
  }
}

.messenger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;

  @include respond-to(sm) {
    display: none;
  }

  .messenger__link {
    display: inline-block;
    margin-right: 9px;
    width: 28px;
    height: 28px;
  }

  .messenger__text {
    margin-left: 21px;
  }
}

// HEADER

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;

  @include respond-to(lg) {
    height: 130px;
  }

  .header__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-to(sm) {
      flex-direction: column;
      align-items: flex-start
    }

    &:hover {
      opacity: 0.7;
    }

    .logo {
      width: 95px;
      height: 94px;

      @include respond-to(lg) {
        width: 73.15px;
        height: 72.38px;
      }

      @include respond-to(md) {
        width: 63.67px;
        height: 63px;
      }
    }

    .title {
      width: 190px;
      font-weight: 700;
      font-size: $small;
      color: $secondary;
      line-height: 120%;
      margin-left: 19.22px;

      @include respond-to(lg) {
        width: 153px;
        font-size: $verysmal;
        margin-left: 15px;
      }

      @include respond-to(sm) {
        font-size: $extrasmall;
        margin-top: 5px;
        line-height: 21.6px;
      }
    }
  }

  .header__address {
    width: 190px;
    height: 66px;

    @include respond-to(sm) {
      display: none;
    }

    a {
      display: flex;

      &:hover {
        opacity: 0.7;
      }

      img {
        margin-right: 7.73px;
      }
    }

    p {
      font-weight: 600;
      font-size: $tiny;
      line-height: 17px;
      margin-top: 10px;
    }
  }

  .header__hours {
    width: 160px;
    height: 76px;
    margin-right: 166px;

    @include respond-to(lg) {
      margin-right: 0;
    }

    @include respond-to(md) {
      display: none;
    }

    .hours__block {
      display: flex;

      img {
        margin-right: 8px;
      }
    }

    p {
      font-weight: 400;
      font-size: $tiny;
      line-height: 17px;
      margin-top: 10px;
    }
  }

  .header__nav {
    display: flex;

    @include respond-to(md) {
      margin-left: 110px;
    }

    @include respond-to(sm) {
      margin: 0;
    }

    .header__contacts {
      display: flex;
      margin-left: 11px;

      @include respond-to(sm) {
        display: none;
      }

      .header__messenger {
        display: flex;
        justify-content: space-between;
        width: 65px;
        height: 28px;
        margin-right: 60px;

        @include respond-to(lg) {
          width: 76px;
          height: 29px;
          margin-right: 20px;
        }

        @include respond-to(md) {
          flex-direction: column;
          height: 74px;
          width: 28px;
        }

        .telegram {
          &:hover {
            opacity: 0.7;
          }
        }

        .whatsapp {
          &:hover {
            opacity: 0.7;
          }
        }
      }

      .header__tel {
        width: 178px;
        height: 56px;

        @include respond-to(lg) {
          width: 160px;
          height: 50px;
        }

        @include respond-to(md) {
          display: none;
        }

        .tel {
          font-weight: 600;
          font-size: $small;
          line-height: 140%;

          @include respond-to(lg) {
            font-size: $extrasmall;
          }

          &:hover {
            opacity: 0.75;
          }

          &:first-of-type {
            letter-spacing: 0.5px;
          }
        }

        .call__back {
          width: 100%;
          font-weight: 700;
          font-size: $tiny;
          line-height: 17px;
          border: none;
          background: transparent;
          color: $secondary;
          box-shadow: none;
          display: flex;
          justify-content: end;
          padding-right: 11px;
          margin-top: 2px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }

          @include respond-to(lg) {
            margin-top: 10px;
          }
        }
      }

    }

    .header__menu {
      display: none;

      @include respond-to(lg) {
        display: block;
      }

      .burger {
        width: 60px;
        height: 60px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        background-color: $white;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
        position: relative;
        z-index: 10;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 40px;
          height: 6px;
          border-radius: 6px;
          background: $secondary;
          z-index: 10;
        }

        &::before {
          top: 15px;

        }

        &::after {
          bottom: 15px;
          width: 33.33px;
        }

        &:hover {
          opacity: 0.70;
        }

        i {
          width: 40px;
          height: 6px;
          background: $secondary;
          border-radius: 6px;
        }
      }

      .header__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $primary;
        position: absolute;
        top: -700px;
        right: -300px;
        width: 300px;
        height: 700px;
        padding-top: 60px;
        transition: all 0.5s ease 0s;
        z-index: 5;

        @include respond-to(sm) {
          width: 100%;
          height: 655px;

        }

        .header__item {
          margin: 40px auto 0;

          .header__link {
            font-weight: 500;
            font-size: $extrasmall;
            line-height: 22px;
            color: $secondary;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    .headerMenu-visible {
      .burger {
        position: relative;

        &::before,
        &::after {
          position: absolute;
          top: 27px;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
          width: 40px;
        }

        i {
          display: none;
        }
      }

      .header__list {
        right: 0;
        top: 0;
      }
    }
  }
}

// MAIN

// top
.top {
  width: 100%;
  height: 700px;
  background-image: url(../img/BgTop.png);
  background-position: center;
  background-size: cover;
  padding-top: 92px;
  position: relative;

  @include respond-to(lg) {
    height: 374px;
    padding-top: 60px;
  }

  @include respond-to(md) {
    height: 440px;
    padding-top: 30px;
  }

  @include respond-to(sm) {
    height: 440px;
    padding-top: 20px;
    background-image: url(../img/BgTopSm.png);

  }

  .top__title {
    line-height: 120%;
    width: 926px;
    margin-bottom: 30px;

    @include respond-to(lg) {
      width: 628px;
    }

    @include respond-to(md) {
      width: 527px;
      margin-bottom: 40px;
    }

    @include respond-to(sm) {
      width: 277px;
      margin-bottom: 20px;
    }
  }

  .top__desc {
    width: 630px;
    margin-left: 0;

    @include respond-to(lg) {
      width: 501px;
    }

    @include respond-to(sm) {
      width: 267px;
    }
  }

  .top__enroll {
    width: 456px;
    height: 68px;

    @include respond-to(lg) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 30px;
      width: 692px;
    }

    @include respond-to(md) {
      flex-direction: column;
      align-items: flex-start;
      height: 126px;
      width: 501px;
    }

    @include respond-to(sm) {
      width: 100%;
      margin-top: 20px;
    }

    .enroll__text {
      font-size: $regular;
      margin: 60px 0;

      @include respond-to(lg) {
        width: 456px;
        margin: 0;
      }

      @include respond-to(md) {
        margin-bottom: 18px;
      }

      @include respond-to(sm) {
        width: 267px;
        font-size: $verysmal;
        margin-bottom: 30px;
      }

      span {
        color: $blue;
      }
    }

    .enroll__btn {
      width: 190px;
      height: 40px;
      background: $dark_blue;
      border: none;
      color: $white;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }

      @include respond-to(md) {
        margin-left: 269px;
      }

      @include respond-to(sm) {
        margin: 0 auto 40px;
      }
    }
  }

  .top__card {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    top: 182px;

    @include respond-to(lg) {
      top: 20px;
    }

    @include respond-to(md) {
      top: 36px;
    }

    @include respond-to(sm) {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }


    .card__item {
      width: 409px;
      height: 150px;
      background: $light;
      border-radius: $borderRadius;
      box-shadow: $boxShadow;
      display: flex;
      align-items: center;

      @include respond-to(lg) {
        flex-direction: column;
        height: 240px;
        width: 300px;
      }

      @include respond-to(md) {
        width: 230px;
        height: 300px;
        padding: 0 19px;
      }

      @include respond-to(sm) {
        margin-top: 20px;
      }

      .card__img {
        width: 63px;
        height: 63px;
        margin: 0 30px 0 19px;

        @include respond-to(lg) {
          margin: 35px auto 14px;
        }

        @include respond-to(md) {
          margin: 30px auto;
        }
      }

      .card__info {

        @include respond-to(lg) {
          text-align: center;
        }

        .card__info__title {
          font-size: $small;
          color: $secondary;
          font-weight: 600;
          margin-bottom: 10px;

          @include respond-to(lg) {
            font-size: $medium;
            margin-bottom: 20px;
          }

          @include respond-to(md) {
            margin-bottom: 60px;
            font-size: $extrasmall;
          }
        }

        .card__info__text {
          @include respond-to(md) {
            font-size: $verysmal;
          }
        }
      }

      &:nth-of-type(3) {
        .card__info__title {
          @include respond-to(md) {
            width: 158px;
            margin: 0 auto 35px;
          }
        }
      }
    }
  }
}

// consultation
.consultation {
  margin-top: 228px;
  text-align: center;

  @include respond-to(lg) {
    margin-top: 318px;
  }

  @include respond-to(md) {
    margin-top: 356px;
  }

  @include respond-to(sm) {
    margin-top: 954px;
  }

  .consultation__title {

    @include respond-to(sm) {
      width: 280px;
      margin: 0 auto;
    }
  }

  .consultation__desc {
    margin-top: 30px;

    @include respond-to(lg) {
      margin: 30px auto 0;
    }

    @include respond-to(sm) {
      margin-top: 20px;
      width: 280px;
    }
  }

  .consultation__card {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    @include respond-to(sm) {
      flex-direction: column;
      align-items: center;
    }

    .consultation__card__item {
      width: 410px;

      @include respond-to(lg) {
        width: 300px;
      }

      @include respond-to(md) {
        width: 230px;
      }

      .card__item__img {
        height: auto;
        border-radius: 20px;

        @include respond-to(lg) {
          height: 200px;
        }
      }

      .card__item__title {
        font-size: $regular;
        font-weight: 600;
        margin-top: 20px;

        @include respond-to(lg) {
          font-size: $small;
          margin-top: 30px;
        }

        @include respond-to(md) {
          font-size: $extrasmall;
        }
      }

      .card__title__text {
        margin-top: 10px;

        @include respond-to(lg) {
          margin-top: 30px;
        }

        @include respond-to(md) {
          margin-top: 20px;
        }
      }
    }
  }

  .consultation__button {
    width: 484px;
    height: 60px;
    background: $dark_blue;
    margin-top: 40px;
    color: $white;
    font-size: $regular;
    line-height: 29px;

    @include respond-to(sm) {
      width: 280px;
      margin-top: 60px;
    }
  }
}

// stock
.stock {
  margin-top: 90px;
  text-align: center;

  @include respond-to(sm) {
    margin-top: 60px;
  }

  .stock__desc {
    margin: 30px auto 0;
    width: 1066px;

    @include respond-to(lg) {
      width: 983px;
    }

    @include respond-to(md) {
      width: 728px;
    }

    @include respond-to(sm) {
      margin-top: 20px;
      width: 280px;
    }


    span {
      color: $dark_blue;
    }
  }

  .stock__slider {
    margin-top: 29px;
    position: relative;

    @include respond-to(lg) {
      margin-top: 60px;
    }

    @include respond-to(sm) {
      margin-top: 30px;
    }

    .stock__slider__item {
      position: relative;

      img {
        width: 100%;
      }

      .slider__btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -90.5px;
      }
    }

    // slick-slider
    &.slick-slider {

      .slick-arrow {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 42%;
        margin-top: -20px;
        z-index: 10;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: $light;

        &.slick-prev {
          left: -50px;
          background-image: url(../img/ArrowPrev.svg);

          @include respond-to(lg) {
            left: -20px;
          }

          @include respond-to(sm) {
            left: -10px
          }
        }

        &.slick-next {
          right: -50px;
          background-image: url(../img/ArrowNext.svg);

          @include respond-to(lg) {
            right: -20px;
          }

          @include respond-to(sm) {
            right: -10px;
          }
        }
      }

      .slick-list {
        overflow: hidden;
        margin: 0 -15px;

        @include respond-to(lg) {
          margin: 0 -20.5px;
        }

        @include respond-to(md) {
          margin: 0 -10px;
        }

        .slick-track {
          display: flex;

          .slick-slide {
            padding: 0 15px;

            @include respond-to(lg) {
              padding: 0 20.5px;
            }

            @include respond-to(md) {
              padding: 0 10px;
            }
          }
        }
      }

      .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          margin: 33px 10px 0;

          @include respond-to(sm) {
            margin-top: 23px;
          }

          button {
            width: 18px;
            height: 18px;
            background-color: $turquoise;
            font-size: 0;
            border: none;
          }
        }

        .slick-active {

          button {
            width: 24px;
            height: 24px;
            background-color: $blue;
          }
        }
      }
    }
  }
}

// services
.services {
  margin-top: 93px;
  text-align: center;

  .services__desc {
    span {
      color: $dark_blue;
    }
  }

  .services__block {
    display: flex;
    flex-wrap: wrap;
    margin: 44px -15px 0;

    @include respond-to(lg) {
      display: flex;
      justify-content: center;
    }

    .services__block__item {
      width: 630px;
      height: 560px;
      background-color: $light;
      border-radius: 20px;
      margin: 15px;
      text-align: initial;
      padding-left: 30px;
      position: relative;

      @include respond-to(lg) {
        width: 100%;
      }

      @include respond-to(sm) {
        width: 280px;
        height: 740px;
      }

      .services__img {
        display: block;
        width: 253px;
        height: 385px;
        position: absolute;
        top: 27px;
        right: 0;

        @include respond-to(md) {
          width: 240px;
          height: 240px;
          top: 140px;
          right: 35px;
        }

        @include respond-to(sm) {
          width: 100px;
          height: 100px;
          top: -22px;
          right: 0;
        }
      }

      .services__block__title {
        margin-top: 60px;

        @include respond-to(lg) {
          margin-top: 30px;
        }

        @include respond-to(md) {
          margin-top: 60px;
        }

        @include respond-to(sm) {
          margin-top: 30px;
        }
      }

      .services__block__text {
        display: block;
        max-width: 366px;
        margin-top: 9px;
        height: 120px;
        z-index: 12;

        @include respond-to(lg) {
          max-width: 526px;
          height: 116px;
          margin-top: 20px;
        }

        @include respond-to(md) {
          max-width: 376px;
          height: 126px;
          margin-top: 30px;
        }

        @include respond-to(sm) {
          max-width: 220px;
          height: 193px;
          margin-top: 20px;
        }
      }

      .service__list {
        list-style: disc;
        margin-left: 31px;
        font-size: $medium;
        font-weight: 600;
        max-width: 391px;
        height: 200px;
        line-height: 140%;

        @include respond-to(lg) {
          max-width: 477px;
          height: 85px;
        }

        @include respond-to(md) {
          max-width: 472px;
          height: 85px;
          margin-top: 8px;
        }

        @include respond-to(sm) {
          max-width: 220px;
          height: 256px;
          margin-top: 40px;
          font-size: $extrasmall;
        }
      }

      .services__messenger {

        @include respond-to(lg) {
          margin-top: 101px;
        }

        @include respond-to(md) {
          margin-top: 93px;
        }

        @include respond-to(sm) {
          display: none;
        }
      }

      .services__btn {
        margin-top: 34px;
        display: flex;
        justify-content: center;

        @include respond-to(lg) {
          margin-top: 21px;
        }

        @include respond-to(sm) {
          flex-direction: column;
          margin-left: -30px;
          align-items: center;
        }

        .services__btn__item {
          margin: 0 15px;

          @include respond-to(sm) {
            margin-bottom: 30px;
          }
        }

        .services__btn__item-prices {
          background-color: $turquoise;
        }
      }
    }
  }

  .services__technology {
    height: 641px;
    background-color: $light;
    padding: 60px 70px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;

    @include respond-to(lg) {
      flex-direction: column;
      justify-content: normal;
      flex-wrap: nowrap;
      height: 1115px;
    }

    @include respond-to(md) {
      height: 1040px;
      padding: 60px 0 0;
    }

    @include respond-to(sm) {
      max-width: 280px;
      height: 989px;
      padding-top: 30px;
    }

    .services__technology__col1 {
      max-width: 550px;
      text-align: start;
      position: relative;

      @include respond-to(lg) {
        max-width: 100%;
        text-align: center;
      }

      @include respond-to(md) {
        max-width: 685px;
        margin: 0 auto;
      }

      .services__technology__title {

        @include respond-to(sm) {
          width: 209px;
          margin: 0 auto;
        }

        span {
          color: $dark_blue;
        }
      }

      .services__technology__video {
        margin-top: 9px;

        @include respond-to(lg) {
          max-width: 550px;
          margin: 30px auto 0;
        }

        @include respond-to(sm) {
          width: 280px;
        }

        .video__desc {
          color: $blue;
          margin-top: 60px;

          @include respond-to(lg) {
            text-align: start;
          }

          @include respond-to(md) {
            margin-top: 30px;
          }

          @include respond-to(sm) {
            font-size: $tiny;
          }
        }

        .video__btn {
          width: 110px;
          height: 110px;
          border-radius: 50%;
          background-color: $white;
          font-size: 0;
          border: none;
          background-image: url(../img/play.svg);
          background-repeat: no-repeat;
          background-position: 40px 35px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -40px;
          margin-left: -55px;

          @include respond-to(lg) {
            margin-top: 10px;
          }

          @include respond-to(md) {
            margin-top: 10px;
          }

          @include respond-to(sm) {
            width: 56px;
            height: 56px;
            background-position: 23px 18px;
            background-image: url(../img/play_md.svg);
            margin-top: 44px;
            margin-left: -26px;
          }
        }
      }
    }

    .services__technology__col2 {
      max-width: 530px;
      margin-left: 60px;
      text-align: start;

      @include respond-to(lg) {
        max-width: 750px;
        height: 399px;
        margin: 60px auto 0;
      }

      @include respond-to(sm) {
        max-width: 280px;
        margin: 30px 0 0 30px;
        height: 516px;
      }

      .services__technology__list {
        list-style: disc;
        font-size: $medium;
        font-weight: 500;
        line-height: 140%;

        @include respond-to(md) {
          font-size: $small;
        }

        @include respond-to(sm) {
          font-size: $verysmal;
        }

        .services__technology__item {
          margin-bottom: 15px;
        }
      }
    }

    .services__technology__btn {
      margin-top: -75px;
      width: 190px;
      height: 40px;
      z-index: 10;

      @include respond-to(lg) {
        width: 190px;
        height: 53.55px;
        margin: 60px auto 0;
      }

      @include respond-to(md) {
        margin-top: 15px;
      }
    }
  }

  .services__features {
    height: 859px;
    background-image: url(../img/eds-blog-resource-center-01-15-18-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 20px 20px;
    padding-top: 30px;

    @include respond-to(lg) {
      height: 655px;
      padding-top: 20px;
    }

    @include respond-to(md) {
      padding-top: 55px;
    }

    @include respond-to(sm) {
      padding-top: 20px;
      height: 670px;
      margin: 0 -15px;
    }

    .services__features__list {
      margin-left: 80px;

      @include respond-to(lg) {
        margin-left: 0;
      }

      .services__features__item {
        width: 770px;
        height: 120px;
        background-color: $turquoise;
        margin-top: 30px;
        border-radius: 20px;
        display: flex;
        align-items: center;

        @include respond-to(lg) {
          margin: 5px auto;
        }

        @include respond-to(md) {
          width: 671px;
        }

        @include respond-to(sm) {
          width: 280px;
          height: auto;
        }

        &:nth-of-type(1) {
          margin-left: 110px;

          @include respond-to(lg) {
            margin: 5px auto;
          }

          @include respond-to(sm) {
            margin: 10px auto;
          }

          .services__features__item-number {
            background-image: url(../img/1.svg);
          }
        }

        &:nth-of-type(2) {
          margin-left: 110px;

          @include respond-to(lg) {
            margin: 5px auto;
          }

          @include respond-to(sm) {
            margin: 10px auto;
          }

          .services__features__item-number {
            background-image: url(../img/2.svg);
          }
        }

        &:nth-of-type(3) {
          margin-left: 220px;

          @include respond-to(lg) {
            margin: 5px auto;
          }

          @include respond-to(sm) {
            margin: 10px auto;
          }

          .services__features__item-number {
            background-image: url(../img/3.svg);
          }
        }

        &:nth-of-type(4) {
          margin-left: 330px;

          @include respond-to(lg) {
            margin: 5px auto;
          }

          @include respond-to(sm) {
            margin: 10px auto;
          }

          .services__features__item-number {
            background-image: url(../img/4.svg);
          }
        }

        .services__features__item-number {
          display: inline-block;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 10px 20px;
          background-color: $white;
          background-repeat: no-repeat;
          background-position: center;

          @include respond-to(sm) {
            widows: 50px;
            height: 50px;
            background-size: 50%;
          }
        }

        .services__features__item-txt {
          text-align: start;
          line-height: 28px;
          width: 593px;
          font-weight: 500;
          font-size: $small;
          margin-left: 10px;

          @include respond-to(md) {
            width: 488px;
            font-size: $extrasmall;
          }

          @include respond-to(sm) {
            font-size: $verysmal;
            line-height: 120%;
            padding: 5px 5px 5px 0;
          }


        }
      }
    }

    .services__features__messenger {
      margin-top: 62px;

      @include respond-to(lg) {
        margin-top: 18px;
      }

      @include respond-to(md) {
        margin-top: 26px;
      }

      @include respond-to(sm) {
        display: none;
      }
    }

    .services__features__button {
      margin-top: 30px;

      @include respond-to(lg) {
        margin-top: 20px;
      }

      @include respond-to(md) {
        display: none;
      }

      .services__features__button-item {
        margin: 0 15px;
        width: 188px;
        height: 38px;
      }
    }

    .choice__btn {
      color: $white;
      background-color: $dark_blue;
      border: none;
    }
  }
}

// doctors
.doctors {
  margin-top: 90px;
  text-align: center;

  .doctors__info {
    display: flex;
    justify-content: space-between;

    @include respond-to(lg) {
      justify-content: space-around;
    }

    .doctors__slider {
      width: 630px;
      height: 780px;

      @include respond-to(lg) {
        width: 540px;
        margin-top: 82px;
      }

      @include respond-to(md) {
        width: 354px;
        margin-top: 50px;
      }

      @include respond-to(sm) {
        display: none;
      }

      .doctors__item {
        width: 100%;
        height: 100px;
        background-color: $light;
        border-radius: 20px;
        box-shadow: $boxShadow;
        margin-top: 30px;
        position: relative;

        .doctor__item__images {
          position: absolute;
          bottom: 0;
          left: 11px;

          @include respond-to(md) {
            display: none;
          }
        }

        .doctors__item__txt {
          margin-left: 190px;
          margin-top: 23px;
          text-align: start;

          @include respond-to(md) {
            margin-left: 27px;
          }

          .doctor__item__name {
            font-size: $regular;
            line-height: 29px;
            font-weight: 500;

            @include respond-to(lg) {
              font-size: $small;
            }

            @include respond-to(md) {
              font-size: $extrasmall;
            }
          }

          .doctor__item__profesion {
            font-size: $medium;
            font-weight: 700;
            color: $secondary;

            @include respond-to(lg) {
              font-size: $verysmal;
            }

            span {
              color: $primary;
              font-weight: 400;
              font-size: $small;

              @include respond-to(lg) {
                font-size: $verysmal;
              }
            }
          }
        }
      }
    }

    .doctors__conteiner {
      width: 630px;
      text-align: center;
      margin-top: 30px;

      @include respond-to(lg) {
        width: 422px;
      }

      @include respond-to(md) {
        width: 354px;
      }

      @include respond-to(sm) {
        width: 300px;
      }

      .doctors__slider__big {
        position: relative;

        @include respond-to(lg) {
          margin-top: 66px;
        }

        @include respond-to(md) {
          margin-top: 39px;
        }

        @include respond-to(sm) {
          margin-top: 30px;
        }

        .doctors__block {
          width: 100%;
          height: 750px;
          color: $white;
          box-shadow: $boxShadow;
          border-radius: 20px;
          text-align: start;
          padding: 40px 0 0 30px;
          position: relative;

          @include respond-to(lg) {
            padding: 20px;
          }

          .doctors__block__name {
            font-size: $big;
            line-height: 33px;
            font-weight: 500;
            color: $primary;

            @include respond-to(lg) {
              font-size: $regular;
            }

            @include respond-to(md) {
              font-size: $extrasmall;
            }
          }

          .doctors__block__profesion {
            font-size: $medium;
            font-weight: 700;
            color: $secondary;
            margin-top: 7px;

            @include respond-to(lg) {
              font-size: $small;
            }

            @include respond-to(md) {
              font-size: $verysmal;
            }

            span {
              color: $primary;
              font-weight: 400;
              font-size: $small;

              @include respond-to(md) {
                font-size: $verysmal;
              }
            }
          }

          .doctors__block__images {
            position: absolute;
            right: 0;
            bottom: 0;

            @include respond-to(lg) {
              width: 250px;
              top: 142px;
            }
          }

          .doctors__block__experience {
            width: 320px;
            height: 326px;
            background-color: rgba(243, 254, 254, 0.8);
            backdrop-filter: blur(12px);
            border-radius: 20px;
            padding: 15px;
            position: absolute;
            bottom: 15px;
            left: 15px;

            @include respond-to(lg) {
              width: 100%;
              bottom: 0;
              left: 0;
              padding: 21px 28px 7px;
            }

            @include respond-to(md) {
              padding: 21px 23px 7px;
            }

            @include respond-to(sm) {
              padding: 10px 15px;
            }

            .doctors__experience__title {
              color: $secondary;
              font-size: $small;
            }

            .doctors__block__txt {
              color: $primary;
              font-size: $extrasmall;
              margin-top: 10px;


              span {
                font-weight: 600;
              }
            }

          }
        }

        .doctor__btn {
          position: absolute;
          left: 50%;
          margin-left: -94px;
          bottom: -60px;
        }

        // slick
        .slick-arrow {
          width: 40px;
          height: 40px;
          font-size: 0;
          background-color: $white;
          background-image: url(../img/ArrowNext.svg);
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 233px;
          right: -20px;
          padding: 0;
          z-index: 10;
          border: none;
        }

        .slick-prev {
          background-image: url(../img/ArrowPrev.svg);
          left: -20px;
        }

        .slick-list {
          overflow: hidden;
          height: 810px;

          .slick-track {
            display: flex;
          }
        }
      }
    }
  }

  // doctorsSlider
  .slick-slider {

    .slick-list {
      overflow: hidden;

      .slick-track {

        .slick-slide {
          cursor: pointer;

          &.slick-current {

            .doctors__item {
              background-color: $turquoise;
            }
          }
        }
      }
    }
  }

  .slick-dots {
    .slick-active {
      background-color: $blue;
    }
  }

  .doctors__messenger {
    margin-top: 30px;
  }

  .doctors__services {
    margin-top: 90px;
    text-align: start;

    .doctors__services__title {
      font-size: $extralarge;
      font-weight: 700;
      line-height: 45px;
      color: $secondary;

      @include respond-to(lg) {
        font-size: $big;
      }

      @include respond-to(sm) {
        font-size: $regular;
      }

      span {
        color: $dark_blue;
      }
    }

    .doctors__services__list {
      margin-top: 45px;
      display: flex;
      justify-content: space-between;

      @include respond-to(lg) {
        margin: 0 auto;
        width: 630px;
        flex-wrap: wrap;
      }

      @include respond-to(sm) {
        width: 300px;
        justify-content: center;
      }

      .doctors__services__item {
        display: block;
        width: 190px;
        height: 130px;
        background-color: $light;
        border-radius: 20px;
        color: $secondary;
        font-size: $regular;
        text-align: center;
        font-weight: 600;
        padding-top: 10px;

        @include respond-to(lg) {
          margin-top: 98px;
        }

        @include respond-to(sm) {
          margin-top: 60px;
        }

        &:hover {
          background-color: $turquoise;

          .doctors__services__images {
            background-color: $light;
          }
        }

        .doctors__services__images {
          width: 124px;
          height: 124px;
          border-radius: 50%;
          background-color: $turquoise;
          padding-top: 15px;
        }
      }
    }
  }
}

//testimonyals
.testimonyals {
  margin-top: 90px;
  text-align: center;

  .testimonyals__slider {
    margin-top: 30px;
    position: relative;

    .slick-list {
      overflow: hidden;
      margin: 0 -15px;

      .slick-track {
        display: flex;

        .slick-slide {
          padding: 0px 15px;
        }
      }
    }

    .slick-arrow {
      width: 40px;
      height: 40px;
      font-size: 0;
      background-color: $turquoise;
      background-image: url(../img/ArrowNext.svg);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 130px;
      right: -20px;
      z-index: 10;
      border: none;
    }

    .slick-prev {
      background-image: url(../img/ArrowPrev.svg);
      left: -20px;
    }

    .testimonyals__slider__item {
      height: 300px;
      background-color: $light;
      border-radius: 20px;
      position: relative;
      text-align: start;

      @include respond-to(lg) {
        height: 482px;
      }

      @include respond-to(md) {
        height: 300px;
      }

      @include respond-to(sm) {
        height: 410px;
      }

      img {
        width: 160px;
        height: 160px;
        position: absolute;
        top: 50%;
        margin-top: -80px;
        left: 30px;

        @include respond-to(lg) {
          top: 121px;
        }

        @include respond-to(md) {
          top: 50%;
        }

        @include respond-to(sm) {
          display: none;
        }
      }

      .testimonyals__slider__item-text {
        margin-left: 221px;
        max-width: 378px;

        @include respond-to(lg) {
          max-width: 238px;
        }

        @include respond-to(md) {
          margin-left: 221px;
          max-width: 378px;
          margin-top: 41px;
        }

        @include respond-to(sm) {
          max-width: 300px;
          margin: 30px;
        }

        .name {
          margin-top: 21px;
          font-size: $regular;
          font-weight: 500;

          @include respond-to(sm) {
            margin: 0;
          }
        }

        .text {
          margin-top: 20px;
        }

        .data {
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 33px 10px 0;

        @include respond-to(sm) {
          margin-top: 23px;
        }

        button {
          width: 18px;
          height: 18px;
          background-color: $turquoise;
          font-size: 0;
          border: none;
        }
      }

      .slick-active {

        button {
          width: 24px;
          height: 24px;
          background-color: $blue;
        }
      }
    }
  }

  .leave__testimonyals {
    display: flex;
    justify-content: flex-end;
    margin-top: -27px;

    @include respond-to(sm) {
      margin-top: 10px;
      justify-content: center;
    }

    p {
      margin-right: 10px;
    }
  }
}




// modal
.blocker {
  z-index: 100;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);

  a.close-modal {
    display: none;
  }

  .modal__body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -240px;

    @include respond-to(sm) {
      margin-left: -150px;
    }

    .modal__content {
      max-width: 480px;
      height: 400px;
      background-color: $turquoise;
      text-align: center;
      margin: 0 auto;


      @include respond-to(sm) {
        width: 300px;
        height: 300px;


      }

      .modal__close {
        display: inline-block;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        position: relative;
        background-color: $white;
        top: 12px;
        left: 175px;

        @include respond-to(sm) {
          left: 120px;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 18px;
          right: 4px;
          width: 30px;
          height: 2px;
          background-color: #474551;
          z-index: 10;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      .modal__title {
        padding: 0 30px;
        margin: 10px auto 0;

        @include respond-to(sm) {
          font-size: $extrasmall;
        }
      }

      .modal__btn {
        width: 334px;
        height: 40px;
        background: rgba(255, 255, 255, 0.6);
        font-size: $small;
        margin-top: 60px;

        @include respond-to(sm) {
          width: 250px;
          font-size: $extrasmall;
          margin-top: 30px;
        }
      }

      .participate__modal__btn {
        background-image: url(../img/VK.svg);
        background-repeat: no-repeat;
        background-size: 28px 28px;
        background-position: top 4px left 32px;

        @include respond-to(sm) {
          background-position: top 4px left 14px;
        }
      }

      .modal__messenger {
        padding: 0 85px;
        margin: 30px auto 0;

        @include respond-to(sm) {
          padding: 0 30px;
        }

        .modal__messenger__text {


          @include respond-to(sm) {
            font-size: $tiny;
            margin-left: 0;
          }
        }
      }
    }
  }
}